html {
  box-sizing: border-box;
  
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Dancing Script;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1rem;
  background-image: linear-gradient(grey, lightgrey);
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 1px 1px 5px black;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 1px 1px 3px black;
}

.wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 5vh auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #888888;
  height: 90vh;
  overflow-y: auto;  
}

.app-title {  
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 5rem;
  opacity: 0.8;
  color: #ffffff;
  text-shadow: 1px 1px 5px black;
}

.todo-ul {
  list-style: none;
  margin: 20px 0;
}

.todo-li {
  margin: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  transition: 1s ease-out all ;
  
}

.todo-li span {
  flex-grow: 1;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
}

.todo-done span {
  text-decoration: line-through;
}

input[type="checkbox"] {
  display: none;
}

.uncheck {
  width: 30px;
  height: 30px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uncheck::before {
  content: '✓';
  font-size: 20px;
  display: none;
}


.todo-done .uncheck::before {
  display: inline;
}

.todo-delete {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

.todo-delete i {
  width: 30px;
  height: 30px;
  pointer-events: none;
  color: #ffffff;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 4px solid #444444;
}

.prompt-div {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.prompt-div__image {
  width: 100px;
  margin-bottom: 30px;
}

.prompt-div__title .prompt-div__text {
  margin-bottom: 30px;
}

.opacityDown {
  opacity: 0;
}